@import "antd/dist/reset.css";
@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
}

#assistant-canvas {
  @apply w-full bg-gradient-to-b from-[#04833c] to-[#31cd76] border-[10px] border-solid border-green-500 bg-opacity-60 shadow-lg outline outline-offset-[0px] outline-[#b68b351c] outline-[20px];
}
